<h2>Typography and Links</h2>
<ul>
  <li>Bootstrap sets the margin and padding (margin=0, padding-top=0px, padding-left/right=20px)</li>
  <li>Bootstrap sets the background color to white</li>
  <li>Bootstrap sets the body font ("Helvetica Neue",Helvetica,Arial)</li>
  <li><a href="http://www.google.com" target="_blank">Bootstrap underlines links only on :hover</a></li>
</ul>

