<% page = { 'title' : 'With Bootstrap', 'key': 'responsive'} %>
<% assets = { 'css' : ['bootstrap.css', 'responsive.css'], 'js' : [] } %>

<div title="With Bootstrap">
  <%- partial("_sharedContent") %>
</div>