<% page = { 'title' : 'GERef Homepage', 'key': 'homepage'} %>
<% assets = { 'css' : ['homepage.styl'], 'js' : [] } %>
<%- partial("_navbar", {"location": "home"}) %>

<div id="main">
  <h1>Welcome To My Reference App</h1>
  <p>This web application was built as a tool for me to learn concepts of web
  application programming.</p>

  <p>Use the menu at the top to navigate to the various pages.</p>
</div>
