<% page = { 'title' : 'GERef Homepage', 'key': 'homepage'} %>
<% assets = { 'css' : ['homepage.styl'], 'js' : [] } %>
<%- partial("_navbar", {"location": "multiColumns"}) %>

<div id="main">
  <h1>Muti Column List Example</h1>
  <ul class="row-fluid unstyled" data-control="MultiColumnList" data-config='{
    "numColumns": 6,
    "numRows": 2}'>
    <li>One-one</li>
    <li>One-two</li>
    <li>One-three</li>
    <li>Two-one</li>
    <li>Two-two</li>
    <li>Two-three</li>
    <li>Three-one</li>
    <li>Three-two</li>
    <li>Three-three</li>
    <li>Four-one</li>
    <li>Four-two</li>
    <li>Four-three</li>
    <li>Five-one</li>
    <li>Five-two</li>
    <li>Five-three</li>
  </ul>
</div>
