<% page = { 'title' : 'Promises', 'key': 'promises'} %>
<% assets = { 'css' : ['homepage.styl'], 'js' : ['PromiseControl.js'] } %>
<%- partial("_navbar", {"location": "promises"}) %>

<div id="main">
  <h1>Promises demonstration</h1>
  <p>Choose the method for executing the promises below</p>
  <div data-control="PromiseControl">
    <button class="promiseButton btn btn-water" data-promiseType="parallel">Parallel</button>
    <button class="resetButton btn btn-water">Reset</button>
    <p class="promiseText promise1">No current promise</p>
    <p class="promiseText promise2">No current promise</p>
    <p class="promiseText promise3">No current promise</p>
  </div>
</div>
