.audio {
  #playlist,
  audio {
    background:#666;
    width:400px;
    padding:20px;
  }

  li a {
    color:#eeeedd;
    background:#333;
    padding:5px;
    display:block;
  }

  li a:hover {
    text-decoration:none;
  }
}

