@import 'common/global'

blockquote.preview {
  border: 1px solid grey;
}

.ng-invalid.ng-dirty {
  border-color: red;
}

.ng-valid.ng-dirty {
  border-color: green;
}

[ng-cloak] {
  display: none;
}