@import 'common/global'

@font-face {
  font-family: 'Goblin One';
  font-style: normal;
  font-weight: 400;
  src: local('Goblin One'), local('GoblinOne'), url(http://themes.googleusercontent.com/static/fonts/goblinone/v3/oMm__6Fu4fp1Uf80vOEkgL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@media screen and (min-width: 980px) {
  > h1 {
    font-size: $extraLargeFontSize;
    text-align: center;
  }

  .orc {
    font-family: "Goblin One", serif;;
    background-image: url("orc_lg.png"), url("grass.png");
    background-position: center, bottom;
    background-repeat: no-repeat;
    background-size: 230px;
    min-height: 440px;
  }
}

@media screen and (min-width: 769px) and (max-width: 979px) {
  h1 {
    font-size: $largeFontSize;
  }

  .orc {
    font-family: "Goblin One", serif;;
    background-image: url("orc_md.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
    min-height: 300px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: $mediumFontSize;
    font-weight: bold;
  }

  .orc {
    background-image: url("orc_sm.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 64px;
    min-height: 100px;
  }
}

article {
  font-size: $mediumFontSize;
}

aside,
aside blockquote p {
  font-size: $smallFontSize;
}

section {
  border-style: solid;
  border-color: #808080;
  border-width: 1px;
  padding: 5px;
  margin: 10px;

  a {
    white-space: nowrap;
  }

  &.row-fluid {
    border: none;
    padding: 15px;
    margin: 0px;
  }
}

section.icons {
  border: none;

  .hover-icon {
    max-width: 80px;
    max-height: 80px;
    opacity:0.4;

    &:hover {
      opacity:1.0;
    }
  }

  figure,
  figcaption {
    display: inline-block;
  }
}
