@import 'common/global'

@font-face {
  font-family : orc ;
  src: url("VTCGoblinHand.eot");
  src: url("VTCGoblinHand.otf");
  src: url("VTCGoblinHand.ttf") format("truetype");
}

@media screen and (min-width: 980px) {
  > h1 {
    font-size: $extraLargeFontSize;
    text-align: center;
  }

  .orc {
    background-image: url("orc_lg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
    min-height: 340px;
  }
}

@media screen and (min-width: 769px) and (max-width: 979px) {
  h1 {
    font-size: $largeFontSize;
  }

  .orc {
    font-family: orc;
    background-image: url("orc_md.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
    min-height: 300px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: $mediumFontSize;
    font-weight: bold;
  }

  .orc {
    background-image: url("orc_sm.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 64px;
    min-height: 100px;
  }
}

article {
  font-size: $mediumFontSize;
}

aside,
aside blockquote p {
  font-size: $smallFontSize;
}

section {
  border-style: solid;
  border-color: #808080;
  border-width: 1px;
  padding: 5px;
  margin: 10px;

  a {
    white-space: nowrap;
  }

  &.row-fluid {
    border: none;
    padding: 15px;
    margin: 0px;
  }
}
