<% page = { 'title' : 'Bootstrap Scafolding', 'key': 'bootstrap'} %>
<% assets = { 'css' : ['bootstrap.styl', 'audio/audio.styl'], 'js' : ['audio/audio.js'] } %>
<%- partial("_navbar", {"location": "audio"}) %>

<div class="audio">

  <audio id="audio" preload="auto" tabindex="0" controls="" type="audio/mpeg">
    <source type="audio/mp3" src="http://www.moviesoundclips.net/download.php?id=3655&ft=mp3">
    Sorry, your browser does not support HTML5 audio.
  </audio>

  <ul id="playlist">
    <li><a href="http://www.moviesoundclips.net/download.php?id=3655&ft=mp3">Lando: All wings report in</a></li>
    <li><a href="http://www.moviesoundclips.net/download.php?id=3660&ft=mp3">Wedge: Lock S Foils</a></li>
    <li><a href="http://www.moviesoundclips.net/download.php?id=3663&ft=mp3">Akbar: Its a trap!</a></li>
    <li><a href="http://www.moviesoundclips.net/download.php?id=3564&ft=mp3">Garvin: Few Seconds</a></li>
    <li><a href="http://www.moviesoundclips.net/download.php?id=3550&ft=mp3">Vader: Lack of faith</a></li>
    <li><a href="http://www.moviesoundclips.net/download.php?id=2396&ft=mp3">Vader: You have failed</a></li>
    <li><a href="http://www.moviesoundclips.net/download.php?id=2406&ft=mp3">Solo: Never tell me the odds</a></li>
    <li><a href="http://www.galaxyfaraway.com/Sounds/kesslrun.wav">Solo: the Kessel run</a></li>
    <li><a href="http://www.galaxyfaraway.com/Sounds/FUZZBALL.WAV">Solo: Laugh it up fuzzball</a></li>
    <li><a href="http://www.moviesoundclips.net/download.php?id=3638&ft=mp3">Akbar: May the force</a></li>
    <li><a href="http://www.moviesoundclips.net/download.php?id=3640&ft=mp3">Wedge: Good shot Red 2</a></li>
    <li><a href="http://www.myinstants.com/media/sounds/utini.mp3">Jawa: Utini!</a></li>
    <li><a href="http://www.galaxyfaraway.com/Sounds/sebulba-poodoo.wav">Sebulba: Poodoo</a></li>
  </ul>
</div>
