<% page = { 'title' : 'GERef Controls Page', 'key': 'controls'} %>
<% assets = { 'css' : ['homepage.styl'], 'js' : [] } %>
<%- partial("_navbar", {"location": "controls"}) %>

<div id="main">
  <h1>Frontier Controls (Modules) Examples</h1>
  <h2>Callout Example</h2>
  <p id="myCallout">Controls can add a little more spice to make the page more interesting.</p>

  <p data-control="Callout" data-config='{"attachTo":"#myCallout"}' style="width:360px">Interesting is in the eye of the beholder</p>
</div>
