<% page = { 'title' : 'GERef Controls Page', 'key': 'controls'} %>
<% assets = { 'css' : ['homepage.styl'], 'js' : [] } %>
<%- partial("_navbar", {"location": "controls"}) %>

<div id="main">
  <h1>Frontier Controls (Modules) Examples</h1>
  <h2>Grid Example</h2>
  <table data-control="Grid" data-config='{"stickyHeader": true}'>
    <colgroup>
      <col style="width: 15%;">
      <col style="width: 15%;">
      <col style="width: 15%;">
      <col style="width: 15%;">
      <col style="width: 15%;">
    </colgroup>
    <thead style="background-color: darkseagreen; color: white">
      <td>Surname</td>
      <td>Given name</td>
      <td>Gender</td>
      <td>Birthdate</td>
      <td>Deathdate</td>
    </thead>
    <tr>
      <td>Messick</td>
      <td>Gene Autrey</td>
      <td>F</td>
      <td>1936</td>
      <td>n/a</td>
    </tr>
    <tr>
      <td>Messick</td>
      <td>Donald Duck</td>
      <td>M</td>
      <td>1938</td>
      <td>n/a</td>
    </tr>
    <tr>
      <td>Messick</td>
      <td>Clark Gable</td>
      <td>M</td>
      <td>1940</td>
      <td>n/a</td>
    </tr>
    <tr>
      <td>Messick</td>
      <td>Larry King</td>
      <td>M</td>
      <td>1942</td>
      <td>n/a</td>
    </tr>
    <tr>
      <td>Messick</td>
      <td>Perry Komo</td>
      <td>M</td>
      <td>1944</td>
      <td>2001</td>
    </tr>
    <tr>
      <td>Messick</td>
      <td>Lawrence Arabia</td>
      <td>M</td>
      <td>1947</td>
      <td>2011</td>
    </tr>
    <tr>
      <td>Messick</td>
      <td>Steve Austin</td>
      <td>M</td>
      <td>1961</td>
      <td>n/a</td>
    </tr>
    <tr>
      <td>Messick</td>
      <td>Scott Bao</td>
      <td>M</td>
      <td>1961</td>
      <td>n/a</td>
    </tr>
    <tr>
      <td>Messick</td>
      <td>Bubba Gump</td>
      <td>M</td>
      <td>1920</td>
      <td>1990</td>
    </tr>
    <tr>
      <td>Others</td>
      <td>Not Familiar</td>
      <td>U</td>
      <td>sometime</td>
      <td>later</td>
    </tr>
    <tr>
      <td>Others</td>
      <td>Not Familiar</td>
      <td>U</td>
      <td>sometime</td>
      <td>later</td>
    </tr>
    <tr>
      <td>Others</td>
      <td>Not Familiar</td>
      <td>U</td>
      <td>sometime</td>
      <td>later</td>
    </tr>
    <tr>
      <td>Others</td>
      <td>Not Familiar</td>
      <td>U</td>
      <td>sometime</td>
      <td>later</td>
    </tr>
    <tr>
      <td>Others</td>
      <td>Not Familiar</td>
      <td>U</td>
      <td>sometime</td>
      <td>later</td>
    </tr>
    <tr>
      <td>Others</td>
      <td>Not Familiar</td>
      <td>U</td>
      <td>sometime</td>
      <td>later</td>
    </tr>
    <tr>
      <td>Others</td>
      <td>Not Familiar</td>
      <td>U</td>
      <td>sometime</td>
      <td>later</td>
    </tr>
    <tr>
      <td>Others</td>
      <td>Not Familiar</td>
      <td>U</td>
      <td>sometime</td>
      <td>later</td>
    </tr>
    <tr>
      <td>Others</td>
      <td>Not Familiar</td>
      <td>U</td>
      <td>sometime</td>
      <td>later</td>
    </tr>
    <tr>
      <td>Others</td>
      <td>Not Familiar</td>
      <td>U</td>
      <td>sometime</td>
      <td>later</td>
    </tr>
    <tr>
      <td>Others</td>
      <td>Not Familiar</td>
      <td>U</td>
      <td>sometime</td>
      <td>later</td>
    </tr>
  </table>
</div>
