<% page = { 'title' : 'GERef Controls Page', 'key': 'controls'} %>
<% assets = { 'css' : ['homepage.styl'], 'js' : [] } %>
<%- partial("_navbar", {"location": "controls"}) %>

<div id="main">
  <h1>Frontier Controls (Modules) Examples</h1>
  <p>Explore Frontier Control features</p>

  <ol>
    <li><a href="/controls/bold">Bold control</a></li>
    <li><a href="/controls/callout">Callout control</a></li>
    <li><a href="/controls/expander">Expander control</a></li>
    <li><a href="/controls/sticky">Sticky header</a></li>
    <li><a href="/controls/grid">Grid header</a></li>
    <li><a href="/controls/multipleColumns">Multi Column List</a></li>
    <li><a href="/controls/summaryBefore">Summary BEFORE</a></li>
    <li><a href="/controls/summaryAfter">Summary AFTER</a></li>
  </ol>

  <p>Discovery Controls</p>
  <ul>
    <li><a href="/controls/init">Exploring arguments for controls</a></li>
    <li><a href="/controls/depend">Control dependencies (e.g. require)</a></li>
  </ul>

</div>
