<% page = { 'title' : 'GERef Controls Page', 'key': 'controls'} %>
<% assets = { 'css' : ['homepage.styl'], 'js' : [] } %>
<%- partial("_navbar", {"location": "controls"}) %>

<div id="main">
  <h1>Frontier Controls (Modules) Examples</h1>
  <p>Frontier automatically injects some parameters to the control.</p>

  <ol>
    <li><a href="/controls/init">Default arguments for module.exports</a></li>
  </ol>

</div>
