<% page = { 'title' : 'GERef Controls Page', 'key': 'controls'} %>
<% assets = { 'css' : ['homepage.styl'], 'js' : [] } %>
<%- partial("_navbar", {"location": "controls"}) %>

<div id="main">
  <h1>Frontier Controls (Modules) Examples</h1>
  <p>Frontier automatically injects some parameters to the control.</p>

  <div data-control="InitDiscovery">No data-config specified.
    <ol class="params"></ol>
  </div>
  <div data-control="InitDiscovery" data-config='{"config-param":"something"}'>With a data-config specified.
    <ol class="params"></ol>
  </div>
</div>
