<% page = { 'title' : 'GERef Controls Page', 'key': 'controls'} %>
<% assets = { 'css' : ['homepage.styl'], 'js' : [] } %>
<%- partial("_navbar", {"location": "controls"}) %>

<div id="main">
  <h1>Frontier Controls (Modules) Examples</h1>
  <h2>Sticky Header Example</h2>
  <p data-control="StickyHeader" style="background-color: cadetblue;border: 1px solid darkgray">A 'StickyHeader' Can Be Useful</p>
  <ul class="unstyled">
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>When the header gives meaning to a list</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>When the content is vital to the page</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>When you have something to 'sell'</li>
    <li>When it contains your navigation</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
    <li>Blah...blah...</li>
  </ul>

</div>
