@import 'common/colors'
@import 'common/fonts'
@import 'common/menus'

.header,
.footer {
  background-color: $appBackgroundColor;
  background: linear-gradient(to bottom, $appBackgroundColor 0%, #808080 100%) repeat scroll 0 0 transparent;

  padding: 5px;
  text-align: center;
}

.header {
  margin-bottom: 0px;
}

.footer {
  margin-top: 20px;
  font-size: $smallFontSize;
}